# encryption key
key.txt.rage
prepare/

# OS-specific scripts
{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**/*
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**/*
{{ end }}

# Exclude Unix config paths
{{ if ne .chezmoi.os "linux" }}
dot_config/Code/
dot_config/zed/
dot_config/nix/
dot_local/share/io.github.clash-verge-rev.clash-verge-rev/
{{ end }}

# Exclude Windows config paths
{{ if ne .chezmoi.os "windows" }}
AppData/
Documents/
readonly_OneDrive/
dot_config/scoop/
dot_wslconfig
scoop/
{{ end }}
